.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  justify-content: space-evenly;
  @media (min-width: 768px) and (max-width: 950px) {
    grid-template-columns: auto auto auto auto auto;
  }
  @media (max-width: 768px) {
    grid-template-columns: auto auto auto;
  }
  @media (max-width: 400px) {
    grid-template-columns: auto auto;
  }
}


.card {
  border: 1px solid gray;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
}

.card:hover {
  border-color: yellow;
}

.card img {
  width: 100%;
  height: auto;
}
.card h3 {
  text-align: center;
  margin: 0;
  font-size: 12px;
}